.dragDiv {
  position: absolute;
  text-align: center;
  left: 100px;
  z-index: 0;
}

.dragHead {
  width: 200px;
  height: 100px;
  background-image: url('rotatingfood2/unnamed (1).gif');
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 0;
}

.dragHead:hover{
  background-size: 100% 95%;
}

#mydiv2header {
  background-image: url('rotatingfood2/fruitbowl1 (1).gif');
}
